* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container-quizzes {
  width: 100%;
  margin-top: 120px;
}

.quiz-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-box {
  display: flex;
  width: 50%;
  padding: 20px 50px;
  align-items: center;
  gap: 20px;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.quiz-box:hover {
  box-shadow: -20px -20px 48px rgba(69, 68, 68, 0.7),
    30px 30px 48px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.quiz-box a {
  color: black;
}

.quiz-box img {
  width: 50px;
  height: 50px;
}
